<div class="icon-trolley__wrapper">
        <svg aria-hidden="true" focusable="false" class="icon icon-trolley" width="32" height="30" viewBox="0 0 32 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16.0487 9.93254V0H18.3022V9.93254H16.0487ZM12.2092 6.09301V3.83953H22.1417V6.09301H12.2092Z" fill="#FEECD7"/>
        <path d="M13.369 30C14.672 30 15.7283 28.9621 15.7283 27.6818C15.7283 26.4016 14.672 25.3637 13.369 25.3637C12.0661 25.3637 11.0098 26.4016 11.0098 27.6818C11.0098 28.9621 12.0661 30 13.369 30Z" fill="#FEECD7"/>
        <path d="M22.806 30C24.109 30 25.1653 28.9621 25.1653 27.6818C25.1653 26.4016 24.109 25.3637 22.806 25.3637C21.503 25.3637 20.4468 26.4016 20.4468 27.6818C20.4468 28.9621 21.503 30 22.806 30Z" fill="#FEECD7"/>
        <path d="M29.8837 3.74445H23.7462V6.83532H10.61V3.74445H0V6.83532H3.61751L8.77638 20.7443C9.10088 21.6461 9.70132 22.4272 10.4954 22.9806C11.2895 23.534 12.2383 23.8324 13.2118 23.8351H26.7381V20.7443H13.2118C12.8885 20.7441 12.5732 20.6461 12.3086 20.4636C12.0441 20.2811 11.8432 20.023 11.7333 19.7243L11.0098 17.6534H25.6057C26.2883 17.6524 26.9521 17.4333 27.4969 17.029C28.0416 16.6248 28.4378 16.0574 28.6255 15.4125L31.4566 5.70715C31.5205 5.50421 31.5412 5.2905 31.5173 5.07936C31.4934 4.86822 31.4254 4.66418 31.3177 4.48C31.2099 4.29582 31.0647 4.13544 30.8911 4.00888C30.7174 3.88233 30.5191 3.79231 30.3084 3.74445C30.1678 3.72195 30.0244 3.72195 29.8837 3.74445ZM25.5585 14.5625H9.83018L6.96763 6.83532H10.61H23.7462H27.7919L25.5585 14.5625Z" fill="#FEECD7"/>
    </svg>
</div>