/* Header styling start ===== */
.header__inline-menu_custom,
.disclosure__button_custom {
    text-transform: uppercase;
}

.disclosure__button_custom {
    font-weight: 700;
}

.header-wrapper--border-bottom,
.utility-bar--bottom-border {
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 1);
}

.header__reserv-button {
    font-size: clamp(1rem, 0.8544rem + 0.6214vw, 1.6rem);
    font-weight: 500;
    line-height: normal;
    margin: 0 0 0 1rem;
    padding: 0 clamp(1.8rem, 1.4359rem + 1.5534vw, 3.3rem);
    white-space: nowrap;
}

@media (min-width: 576px) {
    .header__reserv-button {
        margin: 0 1rem 0 1rem;
    }
}

.header__reserv-button::before,
.header__reserv-button::after {
    content: none;
}

.header__heading-logo {
    display: none;
}

.header__heading-logo_mob {
    display: block;
}

@media (min-width: 576px) {
    .header__heading-logo {
        display: block;
    }

    .header__heading-logo_mob {
        display: none;
    }
}

.header__icons {
    padding-right: 0;
}

.header__icon--cart .icon {
    height: 2rem;
    width: 2rem;
    padding: 0;
}

.cart-count-bubble {
    height: 1.5rem;
    width: 1.5rem;
    left: 2.5rem;
    top: 0.5rem;
}
/* Header styling end ===== */

.blue-button {
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 30px;
    background-color: #183e6f;
    color: #ffffff;
    box-shadow: 0px 0px 4px 0px #ffffff, 0px 0px 10px 0px #183e6f;
    transition: all 0.3s ease 0s;
}

.blue-button:hover {
    background-color: #6786b8;
}