.reviews {
}

.reviews__head {
}

.reviews__title {
    color: #fbbd1f;
    font-size: 80px;
    line-height: 100%;
    text-transform: uppercase;
    margin: 0;
}

.reviews__button {
}

.reviews__items {
}

.reviews__item {
}

.item-reviews {
}

.item-reviews__heading {
}

.item-reviews__avatar {
}

.item-reviews__name {
}

.item-reviews__body {
}