.discover {
    background-position: 100% 120px;
    background-size: contain;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    .discover {
        background-position: 100% top;
    }
}

@media (min-width: 1440px) {
    .discover {
        background-position: bottom left;
    }
}

.discover__top {
}

.discover__items {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 30px;
}


@media (min-width: 768px) {
    .discover__items {
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
    .discover__items {
        flex-wrap: nowrap;
    }
}

.discover__item {
    
}

.top-discover {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: clamp(1.7rem, 1.1417rem + 2.3819vw, 4rem);
}

.top-discover__upper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: clamp(0.9rem, 0.5845rem + 1.3463vw, 2.2rem);
}

.top-discover__title {
    font-size: clamp(4rem, 1.8932rem + 2.589vw, 8rem);
    line-height: normal;
    text-transform: uppercase;
    color: #f09981;
    margin: 0;
}

@media (min-width: 768px) {
    .top-discover__title {
        color: #b31d26;
    }
}

@media (min-width: 1200px) {
    .top-discover__title {
        font-size: 80px;
    }
}

.top-discover__button {
    color:#ffffff;
    font-size: clamp(1.065rem, 0.8381rem + 0.9683vw, 2rem);
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    padding: clamp(1.065rem, 0.8381rem + 0.9683vw, 2rem) clamp(1.7rem, 1.1417rem + 2.3819vw, 4rem);
    border-radius: 30px;
    background-color: #b31d26;
    box-shadow: 0px 0px 4px 0px #ffffff, 0px 0px 10px 0px #b31d26;
    transition: all 0.3s ease 0s;
}

.top-discover__button:hover {
    background-color: #ea552b;
}

.top-discover__subtitle {
    font-size: clamp(1.7rem, 1.1417rem + 2.3819vw, 4rem);
    line-height: normal;
    text-transform: uppercase;
    color:#183e6f;
    margin: 0;
    text-align: left;
    width: 100%;
}

@media (min-width: 576px) {
    .top-discover__subtitle {
        width: fit-content;
        text-align: right;
    }
}

.item-discover {
    /* flex: 1; */
    min-width: 0;
}

.item-discover_small {
    order: 2;
}

.item-discover_big {
    order: 1;
    max-width: clamp(13.5rem, -4.1233rem + 75.1926vw, 44rem);
    margin: 0 auto;
}

@media (min-width: 768px) {
    .item-discover_big {
        max-width: 100%;
        margin: 0;
    }
}

@media (min-width: 1200px) {
    .item-discover_small {
        order: 0;
    }
    
    .item-discover_big {
        order: 0;
    }
}

.item-discover.item-discover_big {
    flex-basis: 100%;
}

.item-discover.item-discover_small {
  flex-basis: calc(50% - 20px);
}

@media (min-width: 1440px) {
    .item-discover.item-discover_big,
    .item-discover.item-discover_small {
        flex-basis: auto;
    }
}

.item-discover__image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
}

.item-discover_big .item-discover__image {
    padding: clamp(2rem, 1.7087rem + 1.2427vw, 3.2rem);
}

.item-discover_small .item-discover__image {
    padding: clamp(0.3rem, -0.234rem + 2.2783vw, 2.5rem);
}

.item-discover__image img {
    display: block;
    line-height: 0;
    max-width: 100%;
    height: auto;
}

.item-discover_small .item-discover__image::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    max-width: 408px;
    max-height: 408px;
    min-width: 164px;
    min-height: 164px;
    z-index: -1;
}

.item-discover_big .item-discover__image::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    max-width: 508px;
    max-height: 508px;
    min-width: 240px;
    min-height: 240px;
    z-index: -1;
}

.item-discover_small:nth-child(1) .item-discover__image::after {
    background-color: #b31d26;
}

.item-discover_big:nth-child(2) .item-discover__image::after {
    background-color: #fbbd1f;
}

.item-discover_small:nth-child(3) .item-discover__image::after {
    background-color: #6786b8;
}

.item-discover__name {
    color:#514e4b;
    font-size: clamp(1.2rem, 1.1029rem + 0.4142vw, 1.6rem);
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin: 20px 0 0 0;
    text-align: center;
}