  /* ==================== swiper styles start */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* ==================== swiper styles end */

    .carousel {
      position: relative;
    }

    .carousel__inner {
    }

    .carousel__slider {
        position: relative;
        max-width: 1250px;
        height: auto;
        margin: 0;
    }

    .carousel__slider .swiper-pagination-bullet {
      width: 40px;
      height: 6px;
      background-color: rgb(var(--color-button-text));
      border-radius: 0;
      opacity: 1;
    }

    .carousel__slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: #b31d26;
    }

    .carousel__slide {
      min-height: 500px;
      height: auto;
    }

    .carousel__decor {
      /* display: none; */
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 50%;
      right: 0;
      z-index: 2;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      pointer-events: none;
      overflow: hidden;
    }

    .carousel__decor > div {
      position: absolute;
      top: 0;
      right: -40%;
      z-index: -1;
      display: block;
      border-radius: 484px;
      width: 484px;
      height: 484px;
      background-color: #feecd7;
    }

    .carousel__decor > div::before {
      content: "";
      position: absolute;
      top: 37px;
      right: 37px;
      width: 408px;
      height: 408px;
      border-radius: 408px;
      background-color: rgb(var(--color-button-text));
    }

    .carousel__decor > div::after {
      content: "";
      position: absolute;
      top: 50px;
      right: 50px;
      width: 384px;
      height: 384px;
      border-radius: 384px;
      background-color: #fbbd1f;
    }

    /* .carousel__decor img {
      position: absolute;
      top: 0;
      right: 0;
    } */

    .decor-slide {
    }

    .decor-slide__button {
      display: inline-flex;
      padding: 0px 40px;
      justify-content: center;
      align-items: center;
      color: #ea552b;
      font-size: 20px;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
      pointer-events: all;
      border-radius: 30px;
      background: #f8cf64;
      box-shadow: 0px 0px 10px 0px #ffcc48, 0px 0px 4px 0px rgb(var(--color-button-text));
      min-height: 58px;
      transition: all 0.3s ease 0s;
    }

    .decor-slide__button:hover {
      color: #b31d26;
    }

    .decor-slide__button::before,
    .decor-slide__button::after {
      content: none;
    }

    .main-slide {
    }

    .main-slide__outer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      gap: clamp(0.8125rem, -0.5831rem + 5.9547vw, 6.5625rem);
      max-width: 1000px;
    }

    @media (min-width: 992px) {
      .main-slide__outer {
          flex-direction: row;
      }
    }

    .main-slide__outer,
    .secondary-slide__outer {
        position: absolute;
        top: 64px;
        right: 50%;
        -webkit-transform: translate(50%, 0);
        -ms-transform: translate(50%, 0);
        transform: translate(50%, 0);
        color: rgb(var(--color-button-text));
    }

    .main-slide__inner {
    }

    .main-slide__title {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      color: inherit;
      margin: 0;
      /* font-size: 100px; */
      font-size: clamp(3.5rem, 1.9223rem + 6.7314vw, 10rem);
      line-height: 80%;
      text-transform: uppercase;
      gap: 5px;
    }

    .main-slide__title span:last-child {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: flex-end;
      gap: 26px;
    }

    @media (min-width: 576px) {
      .main-slide__title span:last-child {
        gap: 0;
      }
    }

    .main-slide__button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: inherit;
      /* font-size: 26px; */
      font-size: clamp(0.875rem, 0.4047rem + 2.0065vw, 2.8125rem);
      font-weight: 500;
      line-height: normal;
      text-decoration: none;
      text-transform: uppercase;
      border-radius: 36px;
      border: 2px solid rgb(var(--color-button-text));
      background-color: #b31d26;
      padding: 0 42px;
      min-height: clamp(2.625rem, 1.6541rem + 4.1424vw, 6.625rem);
      max-height: 70px;
      transition: all 0.3s ease 0s;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
    }

    @media (min-width: 576px) {
      .main-slide__button {
        flex-grow: initial;
        flex-shrink: initial;
        flex-basis: initial;
        justify-content: flex-end;
      }
    }

    .main-slide__button:hover {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
    }

    .main-slide__keywords {
      margin: 0;
      /* font-size: 40px; */
      font-size: clamp(1.4375rem, 0.8004rem + 2.7184vw, 4.0625rem);
      line-height: 140%;
      text-transform: uppercase;
      max-width: clamp(9.8125rem, 6.111rem + 15.7929vw, 25.0625rem);
      text-align: right;
      z-index: 3;

    }

    @media (min-width: 992px) {
      .main-slide__keywords {
        text-align: left;
      }
    }

    .secondary-slide {
    }

    .secondary-slide__outer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0px;
      width: 100%;
      /* max-width: 850px; */
    }

    .secondary-slide__subtitle {
      font-size: 44px;
      line-height: 140%;
      text-transform: uppercase;
      color: inherit;
      margin: 0;
    }

    .secondary-slide__inner {
      display: flex;
      gap: 45px;
      align-items: stretch;
    }

    .secondary-slide__title {
      font-size: 60px;
      line-height: 56px;
      text-transform: uppercase;
      color: inherit;
      margin: 0;
    }

    .secondary-slide__title span {
      color: #f8cf64;
    }

    .secondary-slide__button {
      border-radius: 30px;
      color: #ea552b;
      font-size: 20px;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
      background-color: #fbbd1f;
      box-shadow: 0px 0px 10px 0px #ffcc48, 0px 0px 4px 0px rgb(var(--color-button-text));
      transition: all 0.3s ease 0s;
    }

    .secondary-slide__button:hover {
      color: #b31d26;
    }

    .secondary-slide__button::before,
    .secondary-slide__button::after {
      content: none;
    }